<%- include('header') %>
<!-- res.render 的作用就是将模板和数据结合生成 html，同时设置响应头中的 Content-Type: text/html，告诉浏览器我返回的是 html，不是纯文本，要按 html 展示。 -->
<h1><%= name.toUpperCase() %></h1>
<p>hello, <%= name %></p>
<hr>
<ul>
	<% for(var i = 0;i < supplies.length;i++) { %>
		<li><%= supplies[i] %></li>
	<% } %>
</ul>

<%- include('footer') %>