<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Photos</h1>
    <p>Express stock photo application.</p>
    <p>Welcome to <%= settings.title%>.</p>
    <p><%= i18n.next%></p>
    <p><%= i18n.prev%></p>
    <p><%= i18n.save%></p>
    <div id="photos">
        <% photos.forEach(function(photo){ %>
            <div class="photo">
                <h2><%=photo.name%></h2>
                <img src="<%=photo.path%>">
            </div>
        <% }) %>
    </div>
</body>
</html>
